<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reformulación de Espacios</title>
    <link rel="stylesheet" href="/style/style.css">
<body>
    <div id="gridcont">
        <header>
            <img src="../assets/img/rde-blanco.png" alt="rdelogo"> 
            <nav>
                <a href="../index.html">Home</a>
                <a href="nosotros.html">Nosotros</a>
                <a href="servicios.html">Servicios</a>
                <a href="proyectos.html">Proyectos</a>
                <a href="contactanos.html">Contáctanos</a>
            </nav>
        </header>
    <section id="sec1">
        <img src="/assets/img/rdecolor.ico" height="400" alt="">
        <img src="/assets/img/rdecolor.ico" height="400" alt="">
    </section>

    <main>
    <h1>Formulario de Contacto</h1> 
        <p> ENVÍA TUS DATOS
            SOMOS ESPECIALISTAS DE LA CONSTRUCCIÓN EN SECO
            MENOR COSTO, MENOS TIEMPO
            Atención personalizada
            Elaboramos tu presupuesto
            aproximado, en 24 horas para:
            PROYECTO DE ARQUITECTURA
            CONSTRUCCIÓN DE LA OBRA
            DIRECCIÓN DE LA OBRA
            GESTIÓN DE LOS PERMISOS PARA LA CONSTRUCCIÓN
            LLAVE EN MANO</p>
            <form action="">
                <label for="nombre">Nombre y Apellido: </label>
                <input type="text" name="nombre"> <br><br>
                <label for="email">Correo Electrónico: </label>
                <input type="email" name="email" placeholder="RdeE@yahoo.com.ar"><br><br>
                <label for="comentarios"><h2>Contanos sobre tu Proyecto</h2></label>
                <textarea name="comentarios" cols="40" rows="10" placeholder= "Escribe tu Necesidad..."> </textarea>
                <input type="Submit" value="Enviar">
            </form>       
    </main>
    <section id="sec2">
        <img src="/assets/img/rdecolor.ico" height="400" alt="">
        <img src="/assets/img/rdecolor.ico" height="400" alt="">
    </section>
    </div>



<footer> Copyright 2021 - Desarrollado por Gonza</footer>
</body>
</html>