<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="RDE" href="../assets/img/rde1.png">
    <link rel="stylesheet" href="../style/style.css">
        <title>Reformulacion de Espacios</title></head>
<hr>
<body>
    <div id="grid">
        <header>
            <img src="../assets/img/rde-blanco.png" alt="rdelogo"> 
            <nav>
                <a href="../index.html">Home</a>
                <a href="nosotros.html">Nosotros</a>
                <a href="servicios.html">Servicios</a>
                <a href="proyectos.html">Proyectos</a>
                <a href="contactanos.html">Contáctanos</a>
            </nav>
        </header>
    </div>
<hr>
    <div class="proyectos">   
        <h3>Proyectos de Arquitectura y Construcción</h3>
        <p>Proyecto de Arquitectura y Steel Framing para Vivienda económica. #1</p>
        <p>Proyecto de Arquitectura Barrio Cerrado Villalobos, lote #349</p>
        <img src="../assets/img/barriovillalobo.jpg" width="700px" alt="">
        <img src="../assets/img/steelfram.jpg" width="500px" alt="">
        <img src="../assets/img/casa.jpg" width="500px" alt="">

    </div>

<hr>
<footer> Copyright 2021 - Desarrollado por Gonza</footer>
</body>
</html>