<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="RDE" href="../assets/img/rde1.png">
    <link rel="stylesheet" href="../style/style.css">
        <title>Reformulacion de Espacios</title></head>
<hr>
<body>
    <div id="grid">
        <header>
            <img src="../assets/img/rde-blanco.png" alt="rdelogo"> 
            <nav>
                <a href="../index.html">Home</a>
                <a href="nosotros.html">Nosotros</a>
                <a href="servicios.html">Servicios</a>
                <a href="proyectos.html">Proyectos</a>
                <a href="contactanos.html">Contáctanos</a>
            </nav>
        </header>
    </div>

<hr>
<main>
    <aside>
        <h1>ARQUITECTURA SUSTENTABLE</h1>
        <h2>CONSTRUCCIÓN EN SECO, TU MEJOR DECISIÓN</h2>
            <p>El “Steel Framing ” se convierte en una excelente opción dentro de los sistemas constructivos para la arquitectura moderna, ya que comparándolo con la construcción tradicional, reduce los plazos de ejecución de las obras por la gran cantidad de tareas que se pueden realizar en forma simultánea, esto hace que la obra pueda construirse en un 70% de tiempo menos que la de ladrillos.  Esta rapidez de terminación permite un ahorro considerable en los costos de la obra.
            
            Comparando el sistema de construcción en seco con el sistema de construcción tradicional, la durabilidad de ambos sistemas constructivos (siempre y cuando estén correctamente ejecutados), es prolongada y similar.
            
            “Steel Frame” que significa: Steel=Acero y Frame= Cuadro o Bastidor. Son estructuras de perfiles de acero galvanizado que poseen duración garantizada superior a los 200 años, los utilizados frecuentemente son los PGU y PGC, vienen con diferentes medidas y espesores y varían de estas características en las obras, dependiendo de la complejidad de los diseños para garantizar su resistencia.
            
            Con este sistema constructivo se logra un ambiente interno de un alto confort en cuanto al clima (temperatura y humedad) se refiere, ya que sus muros y cubiertas de techo están compuestos de diferentes capas de aislantes térmicos, acústicos e hidrófugos que agrupados son muy eficientes para los climas: húmedos, de altas temperaturas y bajas temperaturas.    
            </p>
    </aside>
    <section>
        <img class="steel" src="../assets/img/steelframing.jpg" alt="">
    </section>
    
</main>
<hr>
<footer> Copyright 2021 - Desarrollado por Gonza</footer>   
</body>
</html>